* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.header__ul {
    display: flex;
    justify-content: center;
    gap: 53px;
    margin: 47px 0 47px;
}

.header__li {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: black;
}


.preview {
    background-image: url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 138px 0 180px;
    text-align: center;
}

.preview__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #fff;
    padding-bottom: 14px;
}

.preview__button {
    width: 420px;
    height: 70px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #162C38;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}


.background {
    background-color: rgba(26, 110, 136, 0.71);
    padding: 130px 0 134px;
}

.preview__text {
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    max-width: 726px;
    margin: 0 auto;
}

.width {
    max-width: 1440px;
}

.description__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-top: 221px;
    margin-bottom: 216px;
    display: inline-block;
    width: 696px;
}

.description__text-two {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    display: inline-block;
    width: 696px;
}

.description__scuare {
    position: relative;
}

.description__circle {
    margin-bottom: 123px;
}

.box {
    min-width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
}

.box:nth-child(1) {
    position: absolute;
    left: 0;
    top: 100px
}

.box:nth-child(2) {
    position: absolute;
    right: 0;
    top: 235px
}

.box:nth-child(3) {
    position: absolute;
    left: 0;
    top: 366px
}

.second {
    position: relative;
}

.second::before {
    content: "";
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #5C98AB;
    position: absolute;
    top: -55px;
    left: -50px;
}

.second::after {
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #BFDEFB;
    position: absolute;
    bottom: -30px;
    right: -135px;
}

.form__section {
    max-width: 647px;
    text-align: center;
    margin: 0 auto;
}

.form__button {
    width: 100%;
    height: 92px;
    background: #5C98AB;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    margin-top: 58px;

}

.input__wrapper {
    position: relative;
    margin-bottom: 41px;
}

.input__wrapper:last-of-type {
    margin-bottom: 0;
}

.input {
    width: 100%;
    height: 96px;
    padding: 36px 0 11px 34px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    position: absolute;
    margin: 14px 0 3px 31px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.input::placeholder {
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000;
}